@model AgriTech.Models.ViewModel.PlantacaoFormViewModel

@{
    ViewData["Title"] = "Plantação";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Create" class="form-inline">
            <div class="form-group d-flex justify-content-between">
                <div class="col-md-5">
                    <label asp-for="Plantacao.Lote" class="control-label">Lote</label>
                    <input asp-for="Plantacao.Lote" class="form-control" />
                </div>
                <div class="col-md-5">
                    <label asp-for="Plantacao.PlantaId" class="control-label">ID Planta</label>
                    <input asp-for="Plantacao.PlantaId" class="form-control"></input>
                </div>
            </div>
            <div class="form-group d-flex justify-content-between mt-3">
                <div class="col-md-5">
                    <label asp-for="Plantacao.AduboId" class="control-label">ID Adubo</label>
                    <input asp-for="Plantacao.AduboId" class="form-control"></input>
                </div>
                <div class="col-md-5">
                    <label asp-for="Plantacao.DataPlantio" class="control-label">Data de Plantio</label>
                    <input asp-for="Plantacao.DataPlantio" class="form-control" />
                </div>
            </div>

            <hr style="opacity: 0" />

            <div class="form-group d-flex justify-content-end">
                <div class="btn-group">
                    <input type="submit" value="Cadastrar" class="btn btn-success rounded" style="margin-right: 10px;" />
                    <a asp-action="Index" class="btn btn-danger rounded">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
