@model AgriTech.Models.ViewModel.PlantacaoFormViewModel

@{
    ViewData["Title"] = "Plantação";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8 mx-auto">
        <form asp-action="Create" class="form-inline">
            <div class="form-group d-flex justify-content-between">
                <div class="col-md-1">
                    <label asp-for="Plantacao.Lote" class="control-label"></label>
                    <input asp-for="Plantacao.Lote" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label asp-for="Plantacao.PlantaId" class="control-label">@Html.DisplayNameFor(model => model.Plantacao.Planta.NomePopular)</label>
                    <select asp-for="Plantacao.PlantaId" asp-items="@(new SelectList(Model.Plantas, "Id", "NomePopular"))" class="form-control"></select>
                </div>
                <div class="col-md-3">
                    <label asp-for="Plantacao.DataPlantio" class="control-label"></label>
                    <input asp-for="Plantacao.DataPlantio" class="form-control" />
                </div>
            </div>
            <hr style="opacity: 0" />

            <div class="form-group d-flex justify-content-end">
                <div class="btn-group">
                    <input type="submit" value="Cadastrar" class="btn btn-success rounded" style="margin-right: 10px;" />
                    <a asp-action="Index" class="btn btn-danger rounded">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
